<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.android.understandc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Display_program" android:label="@string/app_name">
            <intent-filter>
                <action android:name="display_program"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_bubble_sort" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_bubble_sort"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_palindrome" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_palindrome"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_roots" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_roots"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_horners" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_horners"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_taylors" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_taylors"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_ncr" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_ncr"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_p9" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_p9"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Console_binary" android:label="@string/app_name">
            <intent-filter>
                <action android:name="console_binary"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>


</manifest>
